repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: trufflehog
        name: Trufflehog
        entry: trufflehog filesystem --fail
        language: system
        types: [text]
        pass_filenames: true
